[submodule "pelican-plugins"]
  path = pelican-plugins
  url = git://github.com/getpelican/pelican-plugins.git
[submodule "pelican-theme-material"]
	path = pelican-theme-material
	url = https://github.com/songyunseop/pelican-theme-material.git
